extends ../templates/template

block home
    
    
    if(user)
        h1.title Bienvenido !{user.fullname}
   
        //- h6.title#time(style= "position: absolute; top:10px; left: 0;")
        //- script.
        //-     let time = "!{date}"
        //-     let timeEl = document.getElementById('time')
        //-     let btnLogout = document.getElementById('logout')
        //-     let maxAge = (new Date(!{date}) - new Date())

        //-     console.log(maxAge)
        //-     function timer(){

        //-         let tiempoRestante = Math.round(("!{date}" - new Date()) / 1000)
        //-         let minutos = Math.floor(tiempoRestante/60)
        //-         let segundos = tiempoRestante%60
        //-         console.log(tiempoRestante)
        //-         if(minutos > 0)
        //-             timeEl.textContent = "Sesión expira en " + minutos + " minutos y " + segundos + " segundos"
        //-         else
        //-             timeEl.textContent = "Sesión expira en " + segundos + " segundos"

        //-         //- if(tiempoRestante === 0) {
        //-         //-     //- btnLogout.click()
        //-         //-     clearInterval(intervalo)
        //-         //- }
            
        //-     }

        //-     const intervalo = setInterval(timer, 1000)

        //-     setTimeout(()=>{
        //-         clearInterval(intervalo)
        //-     }, maxAge)

    else
        h1 indefinido

    
    //- .user-info
    //-     .wrapper-info
    //-         form(action="")  
    //-             label.user-info__label(for="logo-user")
    //-                 img.user-info__img(src="./img/logo-user.webp", alt="")
    //-                 iconify-icon(icon="material-symbols:edit")
    //-             input.user-info__input#logo-user(type="file", name="") 


    form#form-update-user(method="POST" action="/update-user").login-form
        label.user-info__label(for="logo-user")
            picture#img-container
                //- img#img-user.user-info__img(src="" alt="user avatar")
                
            iconify-icon(icon="material-symbols:edit")
        input.user-info__input#logo-user(type="file", name="logo-user" accept='image/jpg,image/jpeg,image/png,image/gif,image/webp') 
        span.tooltip
            | Ayuda 
            ul.tooltip__message.tooltip__message--hidden
                li 
                    span Para cambiar la contraseña es necesario rellenar los campos 
                        strong old password 
                        | y 
                        strong new password
                li  
                    span Para cambiar fullname es necesario rellenar el campo 
                        strong old passwod    
        .login-form__wrapper
            h2.login-form__title Actualizar Datos
        .login-form__wrapper
            label(for="input-password").login-form__label Contraseña Actual: 
            input(type="password" id="input-password" name="old-password" placeholder="password").login-form__input
        .login-form__wrapper
            label(for="input-re-password").login-form__label Contraseña Nueva: 
            input(type="password" id="input-re-password" name="new-password" placeholder="password").login-form__input
        .login-form__wrapper
            label(for="input-name").login-form__label Fullname: 
            input(type="text" id="input-name" name="fullname" placeholder="Ingrese nombre completo" value=user.fullname ).login-form__input
        .login-form__wrapper
            input(type="submit" id="input-submit" value="Guardar Cambios").login-form__input.login-form__input--submit


    script(src="./js/tooltip.js")
    script(src="./js/home.js") 